* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(168, 148, 233, 1) 100%
  );
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: hotpink;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 26%;
}

.main-header {
  background-color: hotpink;
  background-image: url("images/pinkS.gif");
  color: black;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  border-radius: 90%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px rgb(243, 179, 245), 2px 2px 2px rgb(243, 179, 245);
  margin: 1rem;
  animation: blinking 3s infinite;
}
.main-header p {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}

@keyframes blinking {
  0% {
    color: rgb(161, 74, 128);
  }
  47% {
    color: rgb(191, 100, 208);
  }
  62% {
    color: rgb(242, 141, 197);
  }
  97% {
    color: rgb(198, 104, 242);
  }
  100% {
    color: rgb(237, 61, 178);
  }
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
}

.nav-container a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
  background-color: rgb(243, 179, 245);
  margin-top: 1rem;
  transition: all 0.7s;
  border-bottom: solid 5px #83368c; /*daker than background*/
  border-right: solid 5px #b253bd;
  font-size: 1.5rem;
}

.nav-container a:hover {
  background-color: rgb(233, 148, 219);
  color: white;
}
.square_btn:before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #fff;
}

.nav-container a:after {
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #fff;
  border-bottom-color: transparent;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
  border: 10px inset hotpink;
  margin: 0.5rem;
}

.main-content p {
  border: 5px inset lightpink;
  margin: 0.7rem;
}

.main-content img {
  max-width: 200px;
  max-height: 200px;
}

/* Yasmin content */

.yasmin-header {
  background-color: hotpink;
  background-image: url("images/pinkS.gif");
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 2.3rem;
  border-radius: 20%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px rgb(243, 179, 245), 2px 2px 2px rgb(243, 179, 245);
  margin: 1rem;
  animation: blinking 3s infinite;
}

.yasmin-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 10px inset hotpink;
}

.yasmin-content img {
  max-width: 200px;
  max-height: 200px;
}

.yasmin-content p {
  border: 5px inset lightpink;
  margin: 0.7rem;
}

.yasmin-content h3 {
  font-size: 3rem;
}
/* Cloe Content */
.cloe-header {
  background-color: hotpink;
  background-image: url("images/pinkS.gif");
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 2.3rem;
  border-radius: 20%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px rgb(243, 179, 245), 2px 2px 2px rgb(243, 179, 245);
  margin: 1rem;
  animation: blinking 3s infinite;
}

.cloe-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 10px inset hotpink;
}

.cloe-content img {
  max-width: 200px;
  max-height: 200px;
}
.cloe-content p {
  border: 5px inset lightpink;
  margin: 0.7rem;
}

.cloe-content h3 {
  font-size: 3rem;
}
/* jade Content */
.jade-header {
  background-color: hotpink;
  background-image: url("images/pinkS.gif");
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 2.3rem;
  border-radius: 20%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px rgb(243, 179, 245), 2px 2px 2px rgb(243, 179, 245);
  margin: 1rem;
  animation: blinking 3s infinite;
}

.jade-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 10px inset hotpink;
}

.jade-content img {
  max-width: 200px;
  max-height: 200px;
}
.jade-content p {
  border: 5px inset lightpink;
  margin: 0.7rem;
}

.jade-content h3 {
  font-size: 3rem;
}

/* sasha Content */
.sasha-header {
  background-color: hotpink;
  background-image: url("images/pinkS.gif");
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 2.3rem;
  border-radius: 20%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 2px rgb(243, 179, 245), 2px 2px 2px rgb(243, 179, 245);
  margin: 1rem;
  animation: blinking 3s infinite;
}

.sasha-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 10px inset hotpink;
}

.sasha-content img {
  max-width: 200px;
  max-height: 200px;
}
.sasha-content p {
  border: 5px inset lightpink;
  margin: 0.7rem;
}

.sasha-content h3 {
  font-size: 3rem;
}

/* Media query */

@media only screen and (min-width: 750px) {
  .main-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-content img {
    padding: 1rem;
    width: 400pxrem;
    height: 350px;
  }
  .yasmin-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .yasmin-apperance {
    justify-content: center;
    text-align: center;
  }
  .yasmin-feautures {
    flex-direction: column;
  }
  .cloe-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .cloe-apperance {
    justify-content: center;
    text-align: center;
  }
  .cloe-feautures {
    flex-direction: column;
  }
  .jade-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .jade-apperance {
    justify-content: center;
    text-align: center;
  }
  .jade-feautures {
    flex-direction: column;
  }
  .sasha-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .sasha-apperance {
    justify-content: center;
    text-align: center;
  }
  .sasha-feautures {
    flex-direction: column;
  }
}
